

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


*{
    margin:0%;
    padding: 0%;
    list-style: none;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.all,.links{
    display:flex;
}
.all{
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}
.portifolia{
    font-size: 3rem;
    color:white;
    position:sticky;
    font-weight: 700;
}

.portifolia:hover{
    cursor: default;
}

.links{
    list-style: none;
    gap: 2rem;
    font-size: 1.5rem;
    position: sticky;
}


#hamburgerNav{
    display: none;
}
.navlink{
    display: none;
}
@media only screen and (max-width:700px){
    #closeNav{
        display:none;
    }
    #hamburgerNav{
        display:block;
        display:flex;
    }
    .all{
        display: none;
    }
}

#openNav{
    font-size: 1.5rem;
}
#close{
    font-size: 2.5rem;
}

.hamburger-icon{
    color:white;
    font-size: 1.5rem;
}

#hamburgerNav{
    justify-content: space-around;
    align-items: center;
    height: 17vh;
    font-size: 1.5rem;
    margin-left: 10%;
}

.menu-links{
    align-content: center;
    background-color: rgb(39, 39, 116);
    font-size: 1.5rem;
    padding: 5%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

a {
  position: relative;
  color: white;
  text-decoration: none;
}

a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -7px; /* distance from text */
  width: 0%;
  height: 2px;
  background: white;
  transition: width 0.3s ease;
}

a:hover::after {
  width: 100%;
}

.info,.info2{
    font-size: 2rem;
    color: white;
}

.info2{
    display:none;
}



.cvBtn,.contact{
    border-radius: 0.8cm;
    padding: 10px;
    font-size: 0.9rem;
    font-weight: 900;
    color: rgb(58, 4, 119);
    background-color: rgb(245, 245, 245);
}

.pic{
    margin-left: 25ch;
    margin-top: 5ch;
}

.section{
    display:flex;
}
.info{
    margin:auto;
}

@media only screen and (max-width:1100px){
    .info{
        display:none;
    }
    .pic{
        margin: auto;
        width:40%;
        height: auto;
    }
    .info2{
        display:block;
        text-align: center;
        margin-left: auto;
        margin-top: 2ch;
    }
}


button {
  background: linear-gradient(90deg, #06b6d4, #3b82f6);
  color: white;
  border: none;
  padding: 15px 40px;
  font-size: 18px;
  border-radius: 50px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  transition: left 0.5s ease;
}

button:hover::before {
  left: 100%;
}

button:hover {
  transform: scale(1.08);
  box-shadow: 0 0 20px #3b82f6;
}

.cvBtn,.contact{
    margin: 1ch;
}

.hr1,.hr2{
    color: white;
}


.about-heading{
    font-size: 4rem;
    color: rgb(244, 244, 244);
    text-align: center;
}

.about-style{
    display: flex;
}